<div class="container">
  <div class="user-details">
    <h3 style="color:#e94f1d;"> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4 style="color:#e94f1d;">Web Development</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain colored"></i></i>
      <p>For web development, I am proficient in HTML 5, CSS 3 and Bootstrap with a bit of javascript</p>
    </div>
    <div class="four columns">
      <h4 style="color:#e94f1d;">Data Science</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p>I use Python and R in Data science for data wrangling/munging and visualization together with their libraries such as Pandas, Numpy, matplotlib, sckit learn and others.</p>
    </div>
    <div class="four columns">
      <h4 style="color:#e94f1d;">Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-trello-plain-wordmark colored"></i>
      <p>I use git, a command line tool that stores modifications in my repository or project and github to host my git repositories. I also use trello as a management/production tool, that helps me out in keeping track of my daily tasks </p>
    </div>
  </div>
</div>
