<div class="container">
  <div class="user-details">
    <h3> Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/portfolio.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Basic Portfolio Website</h5>
      <li> HTML,CSS,Javascript and Bootstrap</li>
      <p>This was my first Basic portfolio site that I developed when I was new to HTML and web development.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/coming-soon.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Project Title </h5>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>Project under construction!</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>
